<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ps.bicyclemanagebicycleservice.mapper.ManageBicycleMapper">

    <resultMap id="bicycleResultMap" type="com.ps.allapp.domain.ShareBicycle">
        <id column="id" property="id" />
        <result column="bicycle_state"  property="bicycleState" />
        <result column="bicycle_site" property="bicycleSite" />
        <result column="bicycle_num" property="bicycleNum" />
    </resultMap>
    <!--改变地址-->
    <select id="changeAddress" parameterType="String" resultMap="bicycleResultMap">
        select id, bicycle_state, bicycle_site, bicycle_num from sbike_bicycle_t b where b.bicycle_site = #{address}
    </select>

    <resultMap id="UserResultMap" type="com.ps.allapp.domain.User">
        <result column="address"  property="address" />
        <result column="make_bicycle_num" property="bicycleNum" />
    </resultMap>

    <!--进入首页查询地址和预约的单车-->
    <select id="bicycleInit" parameterType="int" resultMap="UserResultMap">
        select u.address,u.make_bicycle_num from sbike_user_t u where u.id = #{id}
    </select>

    <!--校验有没有预约单车-->
    <select id="checkAppointment" parameterType="int" resultMap="UserResultMap">
        select u.make_bicycle_num from sbike_user_t u where u.id = #{id}
    </select>
    <!--预约单车-->
    <update id="appointmentBicycle">
        update sbike_user_t set make_bicycle_num = #{bicycleNum} where id = #{userId}
    </update>

    <!--修改单车状态-->
    <update id="changeBicycleState">
        update sbike_bicycle_t set bicycle_state = #{bicycleState} where bicycle_num = #{bicycleNum}
    </update>

    <!--校验有没有解锁单车-->
    <select id="checkUnlock" parameterType="int" resultType="int">
        select count(1) from sharebicycle_bicycle_t where user_id = #{userId} and bicycle_state = 0
    </select>

    <!--解锁单车-->
    <insert id="unlockBicycle" parameterType="com.ps.allapp.domain.ShareBicycle">
        insert into sharebicycle_bicycle_t (user_id,bicycle_num,initial_address,start_time,bicycle_state)
        values (#{userId},#{bicycleNum},#{initialAddress},#{startTime},0)
    </insert>

    <!--根据单车编号获取位置-->
    <select id="getSiteByBicycleNum" parameterType="int" resultType="String">
        select bicycle_site from sbike_bicycle_t b where b.bicycle_num = #{bicycleNum}
    </select>

    <resultMap id="selectShareBicycleByUserId" type="com.ps.allapp.domain.ShareBicycle">
        <id column="id" property="id" />
        <result column="user_id"  property="userId" />
        <result column="bicycle_num" property="bicycleNum" />
        <result column="initial_address" property="initialAddress" />
        <result column="end_address" property="endAddress" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="money" property="money" />
        <result column="route" property="route" />
        <result column="bicycle_state" property="bicycleState" />
        <result column="use_time" property="useTime" />
    </resultMap>

    <select id="selectShareBicycleByUserId" parameterType="int" resultMap="selectShareBicycleByUserId">
        select b.id, b.user_id, b.bicycle_num, b.initial_address, b.end_address, b.start_time, b.end_time, b.money, b.route, b.bicycle_state, b.use_time from sharebicycle_bicycle_t b where b.user_id = #{userId}
    </select>

    <resultMap id="selectShareBicycleById" type="com.ps.allapp.domain.ShareBicycle">
        <id column="id" property="id" />
        <result column="user_id"  property="userId" />
        <result column="bicycle_num" property="bicycleNum" />
        <result column="initial_address" property="initialAddress" />
        <result column="end_address" property="endAddress" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="money" property="money" />
        <result column="route" property="route" />
        <result column="bicycle_state" property="bicycleState" />
        <result column="use_time" property="useTime" />
    </resultMap>
    <!-- 根据骑行记录ID查询骑行记录信息 -->
    <select id="selectShareBicycleById" parameterType="int" resultMap="selectShareBicycleById">
        select b.id, b.user_id, b.bicycle_num, b.initial_address, b.end_address, b.start_time, b.end_time, b.money, b.route, b.bicycle_state, b.use_time from sharebicycle_bicycle_t b where b.id = #{id}
    </select>

    <resultMap id="selectUserById" type="com.ps.allapp.domain.User">
        <id column="id" property="userId" />
        <result column="username"  property="username" />
        <result column="password" property="password" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="register_time" property="registerTime" />
        <result column="route" property="route" />
        <result column="head_photo" property="headPhoto" />
        <result column="address" property="address" />
        <result column="wallet_id" property="walletId" />
        <result column="make_bicycle_num" property="bicycleId" />
    </resultMap>
    <!-- 根据用户ID查询用户信息 -->
    <select id="selectUserById" parameterType="int" resultMap="selectUserById">
        select u.id, u.username, u.password, u.phone, u.email, u.register_time, u.route, u.head_photo, u.address, u.wallet_id, u.make_bicycle_num from sbike_user_t u where u.id = #{userId}
    </select>

    <resultMap id="selectWalletById" type="com.ps.allapp.domain.Wallet">
        <id column="id" property="id" />
        <result column="remain_money"  property="remainMoney" />
        <result column="no_password_pay" property="noPasswordPay" />
        <result column="pledge_state" property="pledgeState" />
        <result column="pay_password" property="payPassword" />
    </resultMap>
    <!-- 根据钱包ID查询钱包信息 -->
    <select id="selectWalletById" parameterType="int" resultMap="selectWalletById">
        select w.id, w.remain_money, w.no_password_pay, w.pledge_state, w.pay_password from sbike_wallet_t w where w.id = #{walletId}
    </select>

    <!-- 根据钱包ID扣钱 -->
    <update id="updateWalletById" parameterType="com.ps.allapp.domain.Wallet">
        update sbike_wallet_t set remain_money = #{remainMoney} where id = #{id}
    </update>

    <!-- 插入消费记录 -->
    <insert id="insertPayrecord" parameterType="com.ps.allapp.domain.Payrecord">
        insert into sbike_payrecord_t(user_id, pay_time, pay_type, pay_money) values(#{userId}, #{payTime}, #{payType}, #{payMoney})
    </insert>

    <!-- 关锁 -->
    <update id="shutUpdateShareBicycle" parameterType="com.ps.allapp.domain.ShareBicycle">
        update sharebicycle_bicycle_t set bicycle_state = 1, end_address = #{endAddress}, end_time = #{endTime}, money = #{money}, use_time = #{useTime} where id = #{id}
    </update>

    <!-- 上报计费异常 -->
    <insert id="reportAbnormalBilling" parameterType="com.ps.allapp.domain.Abnormal">
        insert into sbike_abnormal_t(share_id, user_id, abnormal, report_time) values(#{shareId}, #{userId}, #{abnormal}, #{reportTime});
    </insert>

    <!-- 异常 -->
    <update id="abnormalUpdateShareBicycle" parameterType="int">
        update sharebicycle_bicycle_t set bicycle_state = 2 where id = #{id}
    </update>
</mapper>

