<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ps.bicyclebillingsevice.mapper.WalletMapper">
    <update id="setBB">
        UPDATE sbike_user_t
        SET wallet_id = #{bb}
        WHERE
            id = #{userId}
    </update>

    <insert id="insertWallet" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sbike_wallet_t() VALUES()
    </insert>

    <update id="setPayPassword">
        UPDATE sbike_wallet_t
        SET pay_password = #{payPassword}
        WHERE
            id = #{userId}
    </update>

    <update id="updatePassword">
        UPDATE sbike_wallet_t
        SET pay_password = #{payPassword}
        WHERE
            id = #{userId}
    </update>


    <select id="findPay" resultType="java.lang.Integer">
        SELECT
            wallet_id
        FROM
            sbike_user_t
        WHERE
            id = #{userId}
    </select>

    <select id="getPayPassword" resultType="com.ps.allapp.domain.Wallet">
        SELECT
            w.id,
            w.pay_password payPassword
        FROM
            sbike_user_t u
            LEFT JOIN sbike_wallet_t w
            on u.wallet_id=w.id
        WHERE
            u.id = #{userId}
    </select>
</mapper>